rect {
  stroke: white;
  fill: #05668D;
  opacity: 0.3;
  stroke-width: 2px;
}

.tooltip {	
  position: absolute;
  text-align: left;
  width: 290px;
  height: 100px;
  padding: 3px;
  margin-top: -50px;
  margin-left: -20px;
  font: 15px ;
  font-family: 'Calibri' ;
  pointer-events: none;
}
body,html{
  height: 100%;
}

.jumbotron {
  padding: 10px;
  height: 350px;
  background-image: url("../images/nyc.jpg");
  background-size: cover;	
  /* background-attachment: fixed; */
}
.card-text{
  font-family: 'Calibri'
}
#active {
  background-color: white;
  color: white;
}
rect {
  stroke: white;
  fill: #05668D;
  opacity: 0.3;
  stroke-width: 2px;
}

.tooltip_map {	
  position: absolute;
  text-align: left;
  width: 400px;
  height: 100px;
  padding: 3px;
  margin-top: -50px;
  margin-left: -20px;
  font: 15px ;
  font-family: 'Calibri' ;
  pointer-events: none;
}
#columnleft {
  margin-top: 100px;
  margin-left: 10px;
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px; 
}
.columncenter {
  float: center;
  width: 100%;
  padding: 0px;
  height: 300px; 
}
.columnright {
  margin-top: 150px;
  float: right;
  width: 20%;
  padding: 10px;
  height: 300px; 
}

label
{
   font: 15px/1.7 'Open Sans', sans-serif;
   color: #333;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   cursor: pointer;
} 
